.alert {
	display: inline-block;
  border-radius: 10px;
  
  padding: 11px;  

	&.success {
    color: #055405;
    background-color: #8def0b;
	}

	&.error {
    color: #8e0606;
    background-color: #dc0d0d;
	}
}
