.currency-flag {
  margin: 15px;
  position: relative;
	img {
		width: 35px;
		height: 25px;
    position: absolute;
    display: inline-block;
    top: -4px;
    padding-left: 5px;
    cursor: pointer;
	}
}
